body {
	font-family: Arial;
	font-size: 10px;
	background-color: #ddddda;
	padding: 0;
	margin: 0
}

form div {
	margin-bottom: 10px;
}
input, textarea, select {
	border: 1px solid #ccc;
}

label {
	display: block;
	font-weight: bold;
}

#Wrapper {
	width: 800px;
	margin: 0px auto;
	overflow: auto;
	background-color: #fefefe;
	padding: 10px;
}

#Menu {
	width: 200px;
	float: left;
}

#Content {
	width: 550px;
	margin-left: 220px;
}

#LoginForm {
	clear: both;
}